.loading-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
